<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text"><%= data.packages.title %></h2>
    <div class="colored-line"></div>

    <div class="section-description">
      <%= data.packages.description %>
    </div>

    <div class="colored-line"></div>
  </div>
  <!-- /END SECTION HEADER -->

  <div class="row">

    <% data.packages.items.each do |package| %>

      <!-- SINGLE PACKACGE -->
      <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

        <div class="single-package">

          <h3 class="package-heading main-color"><%= package.headline %></h3>

          <div class="price">
            <div class="<%= package.highlight ? 'color-bg' : '' %>">
              <h2>
                <span class="sign"><%= package.price.sign %></span>
                <%= package.price.amount %>
                <span class="month"><%= package.price.period %></span>
              </h2>
            </div>
          </div>

          <ul class="package-feature">
            <% package.features.each do |feature | %>
              <li>
                <span class="icon main-color icon_check_alt2"></span>
                <span class="feature"><%= feature %></span>
              </li>
            <% end %>
          </ul>

        </div>

      </div>
      <!-- /END SINGLE PACKAGE -->

    <% end %>

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->
