<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text"><%= data.services.title %></h2>

    <div class="colored-line"></div>

    <div class="section-description">
      <%= data.services.description %>
    </div>

    <div class="colored-line"></div>

  </div>
  <!-- /END SECTION HEADER -->

  <div class="row">
  
    <% data.services.items.each do |service| %>
    
      <!-- SINGLE SERVICE -->
      <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

        <!-- SERVICE ICON -->
        <div class="service-icon">
          <i class="icon_<%= service.icon %>"></i>
        </div>

        <!-- SERVICE HEADING -->
        <h3><%= service.headline %></h3>

        <!-- SERVICE DESCRIPTION -->
        <p><%= service.description %></p>

      </div>
      <!-- /END SINGLE SERVICE -->
  
    <% end %>

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->
