<div class="color-overlay">

  <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
  
    <!-- FEEDBACKS -->
    <div id="feedbacks" class="owl-carousel owl-theme">

      <% data.testimonials.feedbacks.each do |feedback| %>
        <!-- SINGLE FEEDBACK -->
        <div class="feedback">
      
          <!-- IMAGE -->
          <div class="image">
            <!-- i class=" icon_quotations"></i -->
            <img src="<%= feedback.image %>" alt="<%= feedback.name %>">
          </div>
      
          <div class="message">
             <%= feedback.message %>
          </div>
      
          <div class="white-line"></div>
      
          <div class="name">
            <%= feedback.name %>
          </div>
          
          <div class="company-info">
            <%= feedback.company %>
          </div>
      
        </div>
        <!-- /END SINGLE FEEDBACK -->
      <% end %>

    </div>
    <!-- /END FEEDBACKS -->

  </div>
  <!-- /END CONTAINER -->

</div>
<!-- /END COLOR OVERLAY -->
